 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="gear-primary">
                            <!-- Alternative image (.gif etc.) -->
                            {% if post.altimg %}
                                <img src="img/portfolio/{{ post.altimg }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% else %}
                                <!-- Video -->
                                {% if post.video %}
                                    <video width="100%" controls>
                                        <source src="video/portfolio/{{ post.video }}" type="video/mp4">
                                    </video>
                                {% else %}
                                    <!-- Default image -->
                                    {% if post.img %}
                                        <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <!-- Description -->
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                <!-- Project -->
                                <!-- Check if project link exists -->
                                {% if post.project %}
                                    {% if post.project_link %}
                                        <strong><a href="{{ post.project-link }}">{{ post.project }}</a>
                                        </strong>
                                    {% else %}
                                        <li>Project:
                                            <strong>{{ post.project }}</strong>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                <!-- Client -->
                                {% if post.client %}
                                    <li>Client:
                                        <strong>{{ post.client }}</strong>
                                    </li>
                                {% endif %}
                                <!-- Date -->
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong>{{ post.project-date }}</strong>
                                    </li>
                                {% endif %}
                                <!-- Tools -->
                                {% if post.tools %}
                                    <li>Tools:
                                        {% for tool in post.tools %}
                                            <strong> <img style="vertical-align:top" src="img/logo/{{ tool }}" height="20" alt="Tool Used"> </strong>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                <!-- <li>Tools: -->
                                    <!-- <strong><a href="{{ post.project_link }}">{{ post.project }}</a> -->
                                    <!-- </strong> -->
                                <!-- </li> -->
                                <!-- {% if post.category %} -->
                                    <!-- <li>Service: -->
                                        <!-- <strong><a href="http://startbootstrap.com">{{ post.category }}</a> -->
                                        <!-- </strong> -->
                                    <!-- </li> -->
                                <!-- {% endif %} -->
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}